# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.elf
*.so
*.o
*.obj
*.d
*.pp
*.so
*.a
*.swp
*~
*.tag
*.cout
*.cxxout
*.output
*.ods#
.project
.cproject
*.bin
*.lst
*.map
*.dtest
*.otest
*.gcno
# generated code by doxgen
doc/html/*
doc/latex/*
doc/warnings
