# ArduinoBuild.yml
#
# Github workflow script that compiles all examples from the OpenMRNLite
# Arduino library.
#
# Copyright (C) 2021  Balazs Racz
#

# Name of workflow
name: ArduinoBuild
on:
  push:
    paths:
      - '**.ino'
      - '**rduino**'
      - '**ArduinoBuild.yml'
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-stm32:
    name: Build Arduino STM32 examples
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Generate OpenMRNLite library
      run: |
        mkdir --parents $GITHUB_WORKSPACE/CustomOpenMRNLite
        $GITHUB_WORKSPACE/arduino/libify.sh $GITHUB_WORKSPACE/CustomOpenMRNLite $GITHUB_WORKSPACE -f
        rm -f $GITHUB_WORKSPACE/arduino/examples/Stm32/*/build_opt.h

    - name: Compile STM32 examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        platform-url: https://raw.githubusercontent.com/stm32duino/BoardManagerFiles/master/STM32/package_stm_index.json
        arduino-board-fqbn: STM32:stm32:Nucleo_144:pnum=NUCLEO_F767ZI,upload_method=MassStorage,xserial=generic,usb=CDCgen,xusb=FS,opt=osstd,rtlib=nano
        sketch-names-find-start: arduino/examples/Stm32
        build-properties: '{ "All": "-DHAL_CAN_MODULE_ENABLED" }'
        debug-compile: true

  build-featherm4can:
    name: Build Arduino Feather M4 CAN examples
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Generate OpenMRNLite library
      run: |
        mkdir --parents $GITHUB_WORKSPACE/CustomOpenMRNLite
        $GITHUB_WORKSPACE/arduino/libify.sh $GITHUB_WORKSPACE/CustomOpenMRNLite $GITHUB_WORKSPACE -f

    - name: Compile Feather M4 CAN examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        platform-url: https://adafruit.github.io/arduino-board-index/package_adafruit_index.json
        arduino-board-fqbn: adafruit:samd:adafruit_feather_m4_can
        sketch-names-find-start: arduino/examples/FeatherM4Can
        debug-compile: true
        required-libraries: |
          "ACANFD FeatherM4CAN"

  build-esp32:
    name: Build Arduino ${{ matrix.target }} examples
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        target: [esp32, esp32c3, esp32s2]
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Generate OpenMRNLite library
      run: |
        mkdir --parents $GITHUB_WORKSPACE/CustomOpenMRNLite
        $GITHUB_WORKSPACE/arduino/libify.sh $GITHUB_WORKSPACE/CustomOpenMRNLite $GITHUB_WORKSPACE -f

    - name: Compile ESP32 examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        platform-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        arduino-board-fqbn: esp32:esp32:node32s
        sketch-names-find-start: arduino/examples/ESP32
        debug-compile: true
        arduino-platform: esp32:esp32@3.3.0
      if: ${{ matrix.target == 'esp32' }}

    - name: Compile ESP32-C3 examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        platform-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        arduino-board-fqbn: esp32:esp32:esp32c3
        sketch-names-find-start: arduino/examples/ESP32C3
        debug-compile: true
        arduino-platform: esp32:esp32@3.3.0
      if: ${{ matrix.target == 'esp32c3' }}
    
    - name: Compile ESP32-S2 examples
      uses: ArminJo/arduino-test-compile@v3
      with:
        platform-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        arduino-board-fqbn: esp32:esp32:esp32s2
        sketch-names-find-start: arduino/examples/ESP32S2
        debug-compile: true
        arduino-platform: esp32:esp32@3.3.0
      if: ${{ matrix.target == 'esp32s2' }}
